tskit>=0.3.5
msprime~=1.0
snakemake
networkx # for html reports
pygraphviz # for html reports
jinja2 # for html reports
pygments # for html reports
cython # for moments
mpmath # for moments
seaborn
pandas
git+https://bitbucket.org/simongravel/moments.git
git+https://github.com/grahamgower/demesdraw.git
